# Файлы пользовательских настроек Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Папки и файлы, генерируемые средой разработки
.vs/
*.opensdf
*.sdf

# Папки со скомпилированными файлами (результаты сборки)
Debug/
Release/
x64/
x86/
bin/
obj/

# Другие временные файлы
*.VC.db
*.ipch
*.[Pp]db
*.tlog
*.log
